* [lang^=en] {
  color: green;
}

.menu-link-text {
  color: #cfcfcf;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav.navbar-dark {
  background-color: #333333;
}

.navbar-light .navbar-nav .nav-link {
  color:#102733;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  transition: transform 0.3s ease-in-out;

}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #494848;
  border-radius: 0.45rem;
  transform: scale(0.8);

}


.topImage{
  width: 100%;
  height: auto;
}

.nav-item {
  padding-right: 2rem;
  padding-left: 5rem;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}




#IText{
  font-size: 20px;
  font-weight: bold;
}

#id-text{
  font-size: 20px;
  font-weight: bold;
}


#title {
font-size: 35px;
padding-left: 200px;
font-weight: bold;

}

/* img{
width:50%;
height:auto;

margin-left: 200px;
} */

#agregar{
padding: 5px 20px;
background-color: #292929;
color: #E3E3E3;
margin-left: 80px;

}

#radio{
font-size: 15px;
padding-left: 10px;
}

#iot{
margin-left: 15px;
}


#checked {
width:20px;
height:20px;
margin-left: 10px;

}

button {
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #292929;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 80px;
}

button:hover {
  background-color: #676767;
}
