<div id="header">
    <header>
      <img class="topImage" img src="./assets/encabezadoa.png"
        alt="Imagen de encabezado - PetAlarm" data-toggle="tooltip"
        title="Imagen encabezado - petAlarm"
        style="background-color: #DEF6F4;" />
    </header>
  </div>
  <div id="content" >
   <!--Menu -->
   <nav class="navbar navbar-expand-lg navbar-dark  h6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" >
            <a  class="nav-link"  href="#" id="navAlarm" role="button" data-bs-toggle="dropdown" aria-expanded="false">HOME</a>
        </li>


      </ul>
  
  
  </div>
  
  
  </nav>
  
  
  
  
  
  
    <!-- Main Router Outlet -->
    <div class="container-fluid" id="principal">
      <div class="row">
        <div class="col-md-12">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Footer -->
    <footer>
      <img class="topImage" img src="./assets/footer.png"
       data-toggle="tooltip"
      title="Imagen footer"/>
  
    </footer>
  
  